<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ROME FIT</title>
        <link rel="icon" href="img/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="caja">
                <h1><img class="img_header" src="{{ url_for('static', filename='img/logo.png') }}" alt="ROME FIT"></h1>
                <nav>
                    <a href="{{ url_for('index') }}">HOME</a>
                    <a href="{{ url_for('info') }}">INFO</a>
                    <a href="{{ url_for('servicios') }}">SERVICIOS</a>
                    <a href="{{ url_for('inscripcion') }}">INSCRIPCION</a>
                    <a href="{{ url_for('usuarios') }}">AD</a>
                </nav>
            </div>
        </header>

        <section class="form_container">
            <form action="{{ url_for('inscripcion') }}" method="post">

                <h2>Formulario de Inscripción</h2>

                <label for="dni">Dni:</label>
                <input type="text" id="dni" name="dni" required><br>

                <label for="nombre">Nombre Completo:</label>
                <input type="text" id="nombre" name="nombre" required><br>
            
                <label for="correo_electronico">Correo electrónico:</label>
                <input type="email" id="correo_electronico" name="correo" required><br>
            
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono"><br>
            
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" required><br>

                <label for="genero">Género:</label>
                <select id="genero" name="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select><br>
            
                <label for="plan">Plan:</label>
                <select id="plan" name="plan">
                    <option value="pase_libre">Pase Libre</option>
                    <option value="3_x_semana">3 Veces Semanal</option>
                    <option value="personalizado">Personalizado</option>
                </select><br>
            
                <label for="detalles_adicionales">Detalles adicionales:</label><br>
                <textarea id="detalles_adicionales" name="detalles" rows="3" cols="50"></textarea><br>

                <input type="submit" value="Enviar">
            </form>
        </section>

        <footer>
            <a href="https://www.instagram.com/rome.training/" target="_blank" class="textoFooter"><img src="{{ url_for('static', filename='/icons/instagram.png') }}" alt="Instagram" class="icono_footer">ROME.TRAINING</a>
            <a href="rome.fit.kids@gmail.com" target="_blank" class="textoFooter"><img src="{{ url_for('static', filename='/icons/mail.png') }}" alt="Mail" class="icono_footer">ROME.FIT.KIDS@GMAIL.COM</a>
            <a href="" class="textoFooter"><img src="{{ url_for('static', filename='/icons/whatsapp.png') }}" alt="Whatsapp" class="icono_footer">1123898809</a>
        </footer>
    </body>
</html>